button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #B97734;
  color: #B97734;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
}
button::before, button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.meet:hover {
  color: #6E371B;
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: #6E371B;
  border-right-color: #6E371B;
}
.meet:hover::after {
  border-bottom-color: #6E371B;
  border-left-color: #6E371B;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
} 
.width {
  width: 457px;
  display: block;
  margin: 0 auto;
}









.block {
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;
  overflow: hidden;
}
.heading {
  margin-left: 20%;
}
.phone,
.tablet,
.desktop {
  background-color: #fff;
  box-shadow: 13px 13px 32px 0 rgba(8, 57, 49, 0.5);
  position: absolute;
  bottom: 0;
  transition: 1s;
  transform: translateY(100%);
}
.showcase:hover + .phone,
.showcase:hover ~ .tablet,
.showcase:hover ~ .desktop {
  transform: translateY(10px) rotateY(-15deg);
}
.phone {
  width: 200px;
  height: 280px;
  left: 5%;
  background: #fff url('http://jquerykiller.ru/img/mobile.svg') center no-repeat;
  z-index: 3;
  transition-delay: .2s;
}
.tablet {
  width: 360px;
  height: 380px;
  background: #fff url('http://jquerykiller.ru/img/tablet.svg') center no-repeat;
  left: 10%;
  z-index: 1;
  transition-delay: .4s;
}
.desktop {
  width: 480px;
  height: 480px;
  background: #fff url('http://jquerykiller.ru/img/desktop.svg') center no-repeat;
  left: 15%;
  transition-delay: .6s;
}