body, html{overflow:hidden;margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);position:relative;height:100%;width:100%;background-color:#000000;font-family:'Oswald', sans-serif;min-height: 550px}
*,*:before,*:after{box-sizing:border-box;}
*,::after,::before{box-sizing:border-box;}
a{color:transparent;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active, a:focus, a:hover{outline-width:0;text-decoration:none;}
a div h2{transition:all 0.5s ease;}
a:hover h2 + h2{-webkit-text-stroke-color:white;}
.btn{padding:10px 20px;background-color:tomato;color:white;text-transform:uppercase;margin:20px auto;display:block;width:150px;text-align:center;}
.btn:hover{color:#fff;background-color:black;border-color:black;}
.collapse:not(.show){display:none;}
h2{color:tomato;font-style:italic;text-transform:uppercase;font-size:102px;text-align:center;text-transform:uppercase;margin:0;line-height:12px;font-weight:bold;}
h2 + h2{-webkit-text-stroke-color:rgba(255,99,71,1);-webkit-text-fill-color:transparent;-webkit-text-stroke-width:.5px;font-weight:normal;letter-spacing:2px;margin-left:12px;}
h4{margin:0;margin-left:20px;-webkit-text-fill-color:white;-webkit-text-stroke-color:transparent;font-size:20px;-webkit-text-stroke-width:1px;font-weight:normal;margin-bottom:70px;}
.hero-text{position:absolute;top:35%;left:48%;-webkit-transform:translate3d(-50%, 0%, 0);transform:translate3d(-50%, 0%, 0);}
.hero-text div{margin:70px 0;}
header,nav{display:block;}
header ul {list-style: none;margin: 0;padding: 0;}
header li {margin: 0 10px;min-width: 70px;text-align: center;}
header span {position: relative;display: block;cursor: pointer;}
header span:before,header span:after {content: '';position: absolute;width: 0%;height: 2px;top: 50%;margin-top: -0.5px;background: white;color: tomato}
header span:before {left: 1.5px;}
header span:after {right: 1.5px;background: white;color: tomato;transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);}
header span:hover:before {background: white;color: tomato;width: 100%;transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);}
header span:hover:after {background: transparent;width: 100%;transition: 0s;color: tomato}
.info-box{position:absolute;bottom:0;right:0;width:35%;z-index:10001;text-align:right;color:rgba(255,255,255,.7);padding:15px 30px;font-family:lato;line-height:1.5;word-spacing: 2px;letter-spacing: .5px}
.info-box a{color:rgba(255,255,255,.7)}
.info-box a:hover{color:white}
.mr-auto{margin-right:auto!important;}
.nav-link{display:block;padding:.5rem .5rem;text-transform:uppercase;color:rgba(255,255,255,.5); letter-spacing: 5px}
.nav-link.current {color: white}
.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:.5rem 1rem;}
.navbar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-ms-flex-positive:1;flex-grow:1;-ms-flex-align:center;align-items:center;}
.pp-tooltip.left {left: 40px;}
.pp-tooltip.right {right: 20px;}
.pp-section{height:100%;position:absolute;width:100%;backface-visibility:hidden;}
.pp-easing{-webkit-transition:all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);-moz-transition:all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);-o-transition:all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);transition:all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);-webkit-transition-timing-function:cubic-bezier(0.550, 0.085, 0.000, 0.990);-moz-transition-timing-function:cubic-bezier(0.550, 0.085, 0.000, 0.990);-o-transition-timing-function:cubic-bezier(0.550, 0.085, 0.000, 0.990);transition-timing-function:cubic-bezier(0.550, 0.085, 0.000, 0.990);}
#pp-nav{position:fixed;z-index:100;margin-top:-32px;top:50%;opacity:1;}
#pp-nav::before{content:'';position:absolute;left:21.5px;top:35px;bottom:30px;width:2px;background-color:rgba(255,255,255,.3);}
#pp-nav.left{left:17px;}
.pp-section.pp-table{display:table;}
.pp-tableCell{display:table-cell;vertical-align:middle;width:100%;height:100%;}
#pp-nav ul{margin:0;padding:0;}
#pp-nav li{display:block;width:25px;height:25px;margin:20px 10px;position:relative;letter-spacing: 5px}
#pp-nav li a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none;}
#pp-nav li .active span{background:tomato;width:25px;height:25px;top:0%;left:0%;-webkit-transform:translate3d(0%, 0%, 0);transform:translate3d(0%, 0%, 0);}
#pp-nav span{width:5px;height:5px;background:white;border-radius:50%;z-index:1;margin:0 auto;}
#pp-nav span{top:50%;left:50%;position:absolute;-webkit-transform:translate3d(-50%, 0%, 0);transform:translate3d(-50%, 0%, 0);}
.section{text-align:center;box-shadow:1px 1px 50px rgba(0,0,0,.5);}.pp-tooltip {position: absolute;top: 4px;color: #fff;font-size: 14px;white-space: nowrap;max-width: 220px;text-transform: uppercase}
#section1 .wrap .hero-text{position:absolute;top:35%;left:45%;-webkit-transform:translate3d(-35%, 0%, 0);transform:translate3d(-35%, 0%, 0);}
#section0 .wrap .bg{background:url("../assets/hero.jpg") no-repeat center center;opacity:.3;}
.section a:hover div h2{color:white;;transition:all 0.5s ease;}
#section0 a:hover div:nth-of-type(1) h2{transform:translateX(-30px);}
#section0 a:hover div:nth-of-type(2) h2{transform:translateX(30px);}
#section0 a:hover div:nth-of-type(3) h2{transform:translateX(-30px);}
#section1 .wrap .bg{background:url("../assets/hero1.jpg") no-repeat center center;opacity:.3;}
#section1 a:hover div:nth-of-type(1) h2{transform: rotate(-10deg) scale(.5) translateY(17px) translateX(-92px);}
#section1 a:hover div:nth-of-type(2) h2{transform: rotate(-10deg) scale(1.5) translateY(0) translateX(0px);}
#section1 a:hover div:nth-of-type(3) h2{transform: rotate(-10deg) scale(.3) translateY(0) translateX(390px);}
#section2 .wrap .bg{background:url("../assets/hero2.jpg") no-repeat center center;opacity:.3;}
#section2 a:hover div:nth-of-type(1) h2{transform: scale(.8) translateX(-90px);}
#section2 a:hover div:nth-of-type(2) h2{transform: scale(1) translateY(-10px);}
#section2 a:hover div:nth-of-type(3) h2{transform: scale(1.2) translateX(60px);}
.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;}
strong{font-weight:normal;font-weight:bold;}
ul{margin-top:0;margin-bottom:1rem;}
.wrap{height:100%;position:relative;overflow:hidden;}
.wrap .bg{width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1;background-size:cover;-webkit-transform:scale(1.1);transform:scale(1.1);}
ul{list-style:none;margin:0;padding:0;}

.fixed-top{position:fixed;top:0;right:0;left:0;z-index:1030;}








@media (max-width:990px){
.navbar {display: none}
}
@media (max-height:668px){
#section1 .wrap .hero-text,.hero-text {top: 100px;}
#pp-nav {top: 270px;}
}
@media (max-width:768px){
.hero-text {top: 40%;}
}
@media (max-width:768px) and (max-height:800px){
.hero-text {top: 30%;}
}
@media (max-width:768px) and (max-height:668px){
#section1 .wrap .hero-text  {top: 170px;}
.hero-text {top: 50px;}
#pp-nav {top: 270px;}
}
@media (max-width:768px) and (max-height:520px){
#pp-nav {top: 270px;}
}
@media (max-width:990px){
  .info-box{width:80%; text-align: center; left: 0; margin: 0 auto 0 100px}
  }
  @media (max-width:768px){
  .info-box{margin: 0 auto 0 40px}
  }
  @media print{
    *,::after,::before{text-shadow:none!important;box-shadow:none!important;}
    a:not(.btn){text-decoration:underline;}
    .navbar{display:none;}
    }
    @media (min-width:992px){
      .navbar-expand-lg{-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:start;justify-content:flex-start;}
      .navbar-expand-lg .navbar-nav{-ms-flex-direction:row;flex-direction:row;}
      .navbar-expand-lg .navbar-collapse{display:-ms-flexbox!important;display:flex!important;-ms-flex-preferred-size:auto;flex-basis:auto;}
      }
      @media screen and (max-width: 768px){
        .collapse:not(.show){display:block;}
        h2,h4{text-align:center;text-shadow:1px 1px 10px black;}
        h2{color:tomato;font-style:italic;text-transform:uppercase;font-size:52px;margin:0;margin-left:0px;margin-left:0px;}
        h4{-webkit-text-fill-color:white;-webkit-text-stroke-color:transparent;font-size:18px;line-height:0px;-webkit-text-stroke-width:1px;font-style:italic;text-transform:uppercase;}
        h2 + h2{text-align:center;text-shadow:none;}
        .hero-text div{margin:30px 0;}
        .hero-text{top:40%;}
        #section1 .wrap .hero-text{top:40%;}
        #section0 a:hover div:nth-of-type(1) h2{transform: translateX(-10px);}
        #section0 a:hover div:nth-of-type(2) h2{transform: translateX(10px);}
        #section0 a:hover div:nth-of-type(3) h2{transform: translateX(-10px);}
        #section2 a:hover div:nth-of-type(1) h2{transform: translateX(-70px);}
        #section2 a:hover div:nth-of-type(2) h2{transform: translateY(-5px);}
        #section2 a:hover div:nth-of-type(3) h2{transform: translateX(40px);}
        }

/* Mobile Nav */
@media only screen and (min-width: 990px) {
  .window {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
.window {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 50px;
  margin: 0;
  border-radius: 0px;
  z-index: 10000;
}
.window .header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 10000;
}
.window .header .burger-container {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.window .header .burger-container #burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
.window .header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #FFF;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
.window .header .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
}
.window .header .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(6px) rotate(0deg);
          transform: translateY(6px) rotate(0deg);
}
.window .header ul.menu {
  position: relative;
  display: block;
  padding: 0px 48px 0;
  list-style: none;
}
.window .header ul.menu li.menu-item {
  margin-top: 5px;
  -webkit-transform: scale(1.15) translateY(-30px);
          transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.window .header ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.49s;
}
.window .header ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.42s;
}
.window .header ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.35s;
}
.window .header ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.28s;
}
.window .header ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.21s;
}
.window .header ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.14s;
}
.window .header ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.07s;
}
.window .header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #FFF;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 5px
}
.window .header.menu-opened {
  height: 100%;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
  background: rgba(0, 0, 0, 0.8);
}
.window .header.menu-opened .burger-container {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.window .header.menu-opened .burger-container #burger .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}
.window .header.menu-opened .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}
.window .header.menu-opened .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}
.window .header.menu-opened ul.menu li.menu-item {
  -webkit-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  opacity: 1;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.27s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.34s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.41s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.48s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.55s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.62s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.69s;
}
.window .content {
  padding: 67px 4% 0;
  text-align: justify;
  overflow: scroll;
  max-height: 100%;
}
.window .content::-webkit-scrollbar {
  display: none;
}
}


/* Cursor */

body {
  cursor: none;
}
.cursor {
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  z-index: 10000;
}

/* .cursor__follower {
  transition: all 1s ease;
  transition-delay: 0s;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
  left: -5px;
  top: -5px;
} */

/* Active link */

.current {
  position: relative;
  top: 2px;
  left: 5px;
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 10px;
  display: block;
}
.current:focus {
  outline: none;
}

.current::before, .current::after {
  content: attr(data-heading);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.current::before {
  color: white;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0 45%);
          clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0 45%);
}

.current::after {
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 36%, 0 40%);
          clip-path: polygon(0 0, 100% 0%, 100% 36%, 0 40%);
          -webkit-transform: translate(-3px, -1px);
          transform: translate(-3px, -1px);
}

